/* Custom styles */

/* Navigation highlighting */
.nav__menu-items a,
.greedy-nav a {
  position: relative;
  transition: color 0.3s ease;

  &.active {
    color: $primary-color !important;
    font-weight: bold;

    &:after {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: $primary-color;
      transform: scaleX(1);
      transition: transform 0.3s ease;
    }
  }

  &:hover {
    &:after {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: mix(#fff, $primary-color, 50%);
      transform: scaleX(1);
    }
  }
}



/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* ---- Sidebar height & stickiness override (compile last) ---- */
/* Base (mobile/tablet): do NOT force full-height or sticky */
body .sidebar {
  min-height: auto !important;
  position: static !important;
}

/* Desktop and up: allow sticky, but not forced height yet */
@include breakpoint($large) {
  body .sidebar {
    position: sticky !important;
    top: 0;
  }
}

/* Only on very wide screens: full-height is OK */
@include breakpoint($x-large) {
  body .sidebar {
    min-height: 100vh !important;
  }
}