/* ==========================================================================
   SIDEBAR
   ========================================================================== */

/*
   Default
   ========================================================================== */

   .sidebar {
    -webkit-transform: translate3d(0, 0 , 0);
            transform: translate3d(0, 0 , 0);
  
    @include clearfix();
    margin-bottom: 1em;
    background-color: #2C5F8C !important;
    /* CHANGED: do not force full-height on small screens */
    min-height: auto;
    padding: 1em;
    position: relative;
    color: white;
  
    @include breakpoint($large) {
      @include span(2 of 12);
      opacity: 1;
      -webkit-transition: opacity 0.2s ease-in-out;
              transition: opacity 0.2s ease-in-out;
      margin-bottom: 0;
      position: sticky;
      top: 0;
      /* CHANGED: only force full-height on large screens and up */
      min-height: 100vh;
  
      &:hover {
        opacity: 1;
      }
    }
  
  
    @include breakpoint($x-large) {
      padding-right: 0;
    }
  
    h2, h3, h4, h5, h6 {
      color: white;
  
      a {
        color: white;
        border-bottom: 0;
      }
    }
  
    p, li, dl {
      color: white;
    }
  
    a {
      color: white;
      &:hover {
        color: #E6E6E6;
        text-decoration: none;
      }
    }
  
    small,
    .small {
      color: white;
    }
  
    .video,
    .tldr {
      color: white;
    }
  
    .site-title {
      color: white;
    }
  
    .site-subtitle {
      color: #cccccc;
    }
  
    .sidebar__menu {
      color: white;
  
      a {
        color: white;
        &:hover {
          color: #cccccc;
        }
      }
    }
  
    img {
      width: 100%;
    }
  }
  
  /* Additional specific styling to ensure blue background shows */
  .sidebar.sticky {
    background: #2C5F8C !important;
    color: white !important;
  }
  
  div.sidebar {
    background: #2C5F8C !important;
    color: white !important;
  }
  
  /* Target the specific sidebar class used in the template */
  .sidebar {
    background: #2C5F8C !important;
    color: white !important;
  }
  
  .sidebar__right {
    margin-bottom: 1em;
  
    @include breakpoint($large) {
      position: relative;
      float: right;
      width: $right-sidebar-width-narrow;
      margin-left: span(0.5 of 12);
      z-index: 10;
    }
  
    @include breakpoint($x-large) {
      width: $right-sidebar-width;
    }
  }
  
  /*
     Author profile and links
     ========================================================================== */
  
  .author__avatar {
    display: table-cell;
    vertical-align: top;
    width: 36px;
  
    img {
      display: block;
      max-width: 175px; /* adjusted image size on large screens */
      border-radius: 50%;
  
      @include breakpoint($large) {
        padding: 4px;
        border: 1px solid rgba(black, 0.1);
      }
    }
  }
  
  .author__content {
    display: table-cell;
    vertical-align: top;
    padding-left: 15px;
    max-width: 480px;
  }
  
  .author__name {
    margin: 0;
    padding: 0;
    font-family: $sans-serif-narrow;
    font-size: $type-size-3;
  }
  
  .author__bio {
    margin: 0;
    padding: 0;
  }
  
  .author__urls-wrapper {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    font-family: $sans-serif-narrow;
    z-index: 10;
  
    @include breakpoint($large) {
      display: block;
      width: 100%;
    }
  
    button {
      margin-bottom: 0.5em;
  
      @include breakpoint($large) {
        display: none;
      }
    }
  }
  
  .author__urls {
    display: none;
    position: relative;
    float: left;
    margin: 0 0 1.25em;
    padding: 0.5em;
    list-style-type: none;
    background-color: mix(#fff, #f2f3f3, 50%);
    border: 1px solid $border-color;
    border-radius: $border-radius;
    -webkit-box-shadow: 0 0 10px rgba(black, 0.15);
            box-shadow: 0 0 10px rgba(black, 0.15);
    z-index: 100;
  
    &.is--visible {
      display: block;
    }
  
    @include breakpoint($large) {
      display: block;
      float: none;
      margin: 1em 0;
      padding: 0.5em 0.75em;
      background: none;
      border: 0;
      -webkit-box-shadow: none;
              box-shadow: none;
    }
  
    li {
      white-space: nowrap;
  
      @include breakpoint($large) {
        display: block;
        padding: 0;
        width: 100%;
        margin: 0.5em 0;
      }
    }
  
    a {
      display: block;
      margin-bottom: 5px;
      padding-right: 5px;
      padding-top: 2px;
      padding-bottom: 2px;
      color: inherit;
      font-size: $type-size-5;
      text-decoration: none;
  
      &:hover {
        text-decoration: none;
      }
    }
  }
  